@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  -webkit-tap-highlight-color: transparent;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes scrollBelt {
  from {
    background-position: 50% 0;
  }
  to {
    background-position: 50% 100%;
  }
}

@keyframes moveDown {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}

.main-section {
  max-width: 400px;
  margin: 0 auto;
}

.conveyor-belt {
  position: relative;
  overflow: hidden;
  height: 100%;
  background-image: url("/images/conveyor.png");
  background-size: 100% auto;
  background-repeat: repeat-y;
  animation: scrollBelt linear infinite; /* Adjust 10s to control speed */
}

.trash-item {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  left: 0;
  transform: translateY(-50%);
}

@keyframes scaleUpDown {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5); /* Scale up to 150% */
  }
  100% {
    transform: scale(1); /* Scale back down */
  }
}

.bin-clicked {
  animation: scaleUpDown 0.3s ease;
}
